#map {
  padding: 8%;
  margin: 2%;
}

#map,
body,
html {
  height: 100%;
}

body {
  background-color: #023;
}

.chunk{  
  background-color:#666;
  border-color: #FA0;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
}

p{  
  padding: 15px;
}

h{
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #EEE;
}

h2{
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #333;
}

.keyword{
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(1, 43, 23);
  background-color:rgb(224, 224, 255);
  border-color: rgb(44, 44, 16);
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 3px;
  margin-top: 2px;
}

button.btn{
  background-color:rgb(224, 224, 255);
  border-color: rgb(44, 44, 16);
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 3px;
  margin-top: 2px;
}

div.panel{
  background-color:rgb(222, 222, 233);
  border-color: rgb(124, 154, 16);
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 3px;
  margin-top: 2px;

}

#bunf {
  white-space: pre-line;
}